#chessGame {
  display: grid;
  justify-content: center;
}
#gameStatus {
  text-align: center;
}
#resetGame {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: black;
  border: none;
  border-radius: 5px;
}
#resetGame:hover {
  background-color: #45a049;
  cursor: pointer;
} 
#chessNotation {
  height: 45vh;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  overflow-y: auto;
}
#chessNotation > p {
  border-bottom: 1px solid #ddd;
}
#header {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
#name {
  font-weight: bold;
}
#portfolioLink {
  color: #4CAF50;
  text-decoration: none;
}
@media only screen and (min-width: 600px) and (max-height:400px) {
  #chessGameContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  #chessGame {
    min-width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
  }
  #chessNotation {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
  }
}
@media only screen and (min-width: 600px) and (min-height:401px) and (max-height:1000px) {
  #chessGameContainer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  #chessGame {
    min-width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
  }
  #chessNotation {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
  }
  #header {
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  #chessGameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #chessGame {
    margin: 1em 0 0 1em;
    min-width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
  }
  #chessNotation {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
  }
  #header {
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  #portfolioLink:hover {
    color: #288b2c;
    text-decoration: underline;
  }
}